{% extends 'base.html' %}

{% block title %}零抽成开发外包平台 - 平台介绍{% endblock %}

{% block content %}
<div class="main-content">
<div class="pre-header">
    <span class="toggle-btn" onclick="toggleContent(this)">展开</span>
    <span class="copy-btn" onclick="copyContent(this)">复制</span>
</div>
<pre class="pre-content">
# 20250515进度汇报
平台网站：帐号注册功能和平台介绍页面
组成人员：4个建设者及开发者，5个纯开发者
制度设计：确定监管保障、用户管理、订单管理、知识产权4个方面
发展规划：确定平台推广、筹建筑基、技术研发3个起始点
文案文档：编写了基本10个相关文档草稿
附注：确定从其他平台微信群拉人战术由于企业微信限制不可行

# 20250516
平台网站：论坛页面
推销推广：淘宝店铺上架商品

# 20250519
平台网站：
更新css界面
平台网站添加翻译功能
修复登录、注册、个人信息页面的样式冲突

# 20250521
淘宝店铺商品上架

# 20250522
平台网站源码在github托管和公开

# 20250530
首次群聊内线上腾讯会议

# 20250604
b站宣传视频投稿
诚信点评平台帮忙转发
建立官方QQ群

# 20250605
和码奇码交流会议

# 20250606
网站开发者页面显示注册列表

# 20250608
网站实现发布和查看订单的功能
平台接到第一单

# 20250609
网站实现注册前端交互优化
淘宝店铺有需求方咨询项目
</pre>
</div>
{% endblock %}